<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<configSections>
    <section name="cafeItemList" type="GasStation.CafeItemInfo, GasStation" />
  </configSections>-->
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <!--<cafeItemList>
    <cafeItem title="Капучіно" price="4.40m" />
    <cafeItem title="Гамбургер" price="5.40m" />
  </cafeItemList>-->
</configuration>