*, *::before, *::after {
  margin: 0;
  padding: 0;
}

* {  
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li {
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0.5em;
}

h2 {
  margin: 0.3em;
}

h4 {
  margin: 0.25em;
}

.upper {  
  text-transform: uppercase;
}

.header {
  height: 400px;
  width: 100%;
  /* background-color:brown; */
  font-size: 20px;
  color: white;
  background-image: url('header-building.jpg');
  background-size: cover;
}

.header :is(a, button) {
  color: white;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.header-top nav {  
  list-style-type: none;
}

.header-top nav > li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
}

.header-top a:hover {  
  background-color: rgba(0, 255, 0, 0.3);
}

.header-info {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 100px auto auto auto;
  text-align: center;
}

.header-info .action {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid white;
}

.container {  
  margin: 0 2em;
}

.section-line-breaker {
  width: 50px;
  height: 2px;
  background-color: black;  
  margin: 0.5em auto;
  border: none;
}

.section-info {
  text-align: center;
  margin: 1.5em 0;
}

.services {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.services > * {
  width: 100%;
}

.service {
  /* min-width: 250px; */
  /* width: 100%; */
  text-align: center;
}

.service-title {
  text-align: center;
}

.service-icon img {
  width: 100px;
  height: 100px;
}

.two-columns {
  display: flex;  
  flex-wrap: wrap;
  column-gap: 3em;
}

.two-columns > * {
  width: calc(50% - 1.5em);
}

.team {
  display: flex;
  gap: 4em;
}

.team > * {
  width: 100%;
}

.team-member img {
  width: 100%;
}